@model List<Edison.Models.Asset>

@Html.ActionLink("Create New", "Create", "Asset")
<br />
<br />
<div class="text-center">
    <table id="table-tasks" class="display">
        <thead>
            <tr>
                <th>Asset Code</th>
                <th>Asset Name</th>
                <th>Asset Category/th>
                <th>Department</th>
                <th>Purchase Date</th>
                <th>Price</th>
                <th>Supplier Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetCategory!.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department!.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { onclick = "return confirm('Are you sure you wish to delete this task?');" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table-tasks').DataTable();
        });
    </script>
}
